a[href$="#support-gem-red"],
a[href$="#support-gem-green"],
a[href$="#support-gem-blue"],
a[href$="#support-gem-white"] {
    padding: 1px 4px;
    display: inline-block;
    color: white !important;
    background-color: #666;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    white-space: nowrap;  
}

a[href$="#support-gem-red"],
a[href$="#support-gem-red"]:hover:before {
    background-color: #c51e1e;
}

a[href$="#support-gem-green"],
a[href$="#support-gem-green"]:hover:before {
    background-color: #08a842;
}

a[href$="#support-gem-blue"],
a[href$="#support-gem-blue"]:hover:before {
    background-color: #4163c9;
}

a[href$="#support-gem-white"],
a[href$="#support-gem-white"]:hover:before {
    background-color: #ffffff;
}

a[href$="#support-gem-red"]:hover:before,
a[href$="#support-gem-green"]:hover:before,
a[href$="#support-gem-blue"]:hover:before,
a[href$="#support-gem-white"]:hover:before {
   position: absolute;
   margin-top: -25px;
   padding: 1px 3px;
   z-index: 1;
}

a[href$="Curse_On_Hit_Support#support-gem-blue"]:hover:before { content: "Curse On Hit"; }
a[href$="Chain_Support#support-gem-green"]:hover:before { content: "Chain"; }
a[href$="Generosity_Support#support-gem-red"]:hover:before { content: "Generosity"; }
a[href$="Energy_Leech_Support#support-gem-blue"]:hover:before { content: "Energy Leech"; }
a[href$="Spell_Totem_Support#support-gem-red"]:hover:before { content: "Spell Totem"; }
a[href$="Burning_Damage_Support#support-gem-red"]:hover:before { content: "Burning Damage"; }
a[href$="Brutality_Support#support-gem-red"]:hover:before { content: "Brutality"; }
a[href$="Lesser_Poison_Support#support-gem-green"]:hover:before { content: "Lesser Poison"; }
a[href$="Spell_Cascade_Support#support-gem-blue"]:hover:before { content: "Spell Cascade"; }
a[href$="Ice_Bite_Support#support-gem-green"]:hover:before { content: "Ice Bite"; }
a[href$="Added_Fire_Damage_Support#support-gem-red"]:hover:before { content: "Added Fire Damage"; }
a[href$="Ruthless_Support#support-gem-red"]:hover:before { content: "Ruthless"; }
a[href$="Decay_Support#support-gem-blue"]:hover:before { content: "Decay"; }
a[href$="Power_Charge_On_Critical_Support#support-gem-blue"]:hover:before { content: "Power Charge On Critical"; }
a[href$="Enlighten_Support#support-gem-blue"]:hover:before { content: "Enlighten"; }
a[href$="Fire_Penetration_Support#support-gem-red"]:hover:before { content: "Fire Penetration"; }
a[href$="Minion_Damage_Support#support-gem-blue"]:hover:before { content: "Minion Damage"; }
a[href$="Innervate_Support#support-gem-blue"]:hover:before { content: "Innervate"; }
a[href$="Melee_Physical_Damage_Support#support-gem-red"]:hover:before { content: "Melee Physical Damage"; }
a[href$="Faster_Casting_Support#support-gem-blue"]:hover:before { content: "Faster Casting"; }
a[href$="Summon_Phantasm_on_Kill_Support#support-gem-blue"]:hover:before { content: "Summon Phantasm on Kill"; }
a[href$="Efficacy_Support#support-gem-blue"]:hover:before { content: "Efficacy"; }
a[href$="Intensify_Support#support-gem-blue"]:hover:before { content: "Intensify"; }
a[href$="Elemental_Proliferation_Support#support-gem-blue"]:hover:before { content: "Elemental Proliferation"; }
a[href$="Added_Lightning_Damage_Support#support-gem-blue"]:hover:before { content: "Added Lightning Damage"; }
a[href$="Blood_Magic_Support#support-gem-red"]:hover:before { content: "Blood Magic"; }
a[href$="Cast_on_Melee_Kill_Support#support-gem-red"]:hover:before { content: "Cast on Melee Kill"; }
a[href$="Life_Gain_on_Hit_Support#support-gem-red"]:hover:before { content: "Life Gain on Hit"; }
a[href$="Cold_Penetration_Support#support-gem-green"]:hover:before { content: "Cold Penetration"; }
a[href$="Minion_and_Totem_Elemental_Resistance_Support#support-gem-blue"]:hover:before { content: "Minion and Totem Elemental Resistance"; }
a[href$="Life_Leech_Support#support-gem-red"]:hover:before { content: "Life Leech"; }
a[href$="Chance_to_Bleed_Support#support-gem-red"]:hover:before { content: "Chance to Bleed"; }
a[href$="Trap_and_Mine_Damage_Support#support-gem-green"]:hover:before { content: "Trap and Mine Damage"; }
a[href$="Maim_Support#support-gem-red"]:hover:before { content: "Maim"; }
a[href$="Physical_to_Lightning_Support#support-gem-blue"]:hover:before { content: "Physical to Lightning"; }
a[href$="Bonechill_Support#support-gem-blue"]:hover:before { content: "Bonechill"; }
a[href$="Fortify_Support#support-gem-red"]:hover:before { content: "Fortify"; }
a[href$="Concentrated_Effect_Support#support-gem-blue"]:hover:before { content: "Concentrated Effect"; }
a[href$="Melee_Splash_Support#support-gem-red"]:hover:before { content: "Melee Splash"; }
a[href$="Ancestral_Call_Support#support-gem-red"]:hover:before { content: "Ancestral Call"; }
a[href$="Empower_Support#support-gem-red"]:hover:before { content: "Empower"; }
a[href$="Item_Rarity_Support#support-gem-blue"]:hover:before { content: "Item Rarity"; }
a[href$="Cast_on_Death_Support#support-gem-green"]:hover:before { content: "Cast on Death"; }
a[href$="Reduced_Mana_Support#support-gem-red"]:hover:before { content: "Reduced Mana"; }
a[href$="Vicious_Projectiles_Support#support-gem-green"]:hover:before { content: "Vicious Projectiles"; }
a[href$="Cast_when_Damage_Taken_Support#support-gem-red"]:hover:before { content: "Cast when Damage Taken"; }
a[href$="Volley_Support#support-gem-green"]:hover:before { content: "Volley"; }
a[href$="Chance_to_Flee_Support#support-gem-green"]:hover:before { content: "Chance to Flee"; }
a[href$="Increased_Duration_Support#support-gem-red"]:hover:before { content: "Increased Duration"; }
a[href$="Enhance_Support#support-gem-green"]:hover:before { content: "Enhance"; }
a[href$="Faster_Attacks_Support#support-gem-green"]:hover:before { content: "Faster Attacks"; }
a[href$="Added_Cold_Damage_Support#support-gem-green"]:hover:before { content: "Added Cold Damage"; }
a[href$="Pierce_Support#support-gem-green"]:hover:before { content: "Pierce"; }
a[href$="Elemental_Damage_with_Attacks_Support#support-gem-red"]:hover:before { content: "Elemental Damage with Attacks"; }
a[href$="Cast_while_Channelling_Support#support-gem-blue"]:hover:before { content: "Cast while Channelling"; }
a[href$="Iron_Grip_Support#support-gem-red"]:hover:before { content: "Iron Grip"; }
a[href$="Charged_Traps_Support#support-gem-green"]:hover:before { content: "Charged Traps"; }
a[href$="Point_Blank_Support#support-gem-green"]:hover:before { content: "Point Blank"; }
a[href$="Minion_Life_Support#support-gem-blue"]:hover:before { content: "Minion Life"; }
a[href$="Void_Manipulation_Support#support-gem-green"]:hover:before { content: "Void Manipulation"; }
a[href$="Combustion_Support#support-gem-blue"]:hover:before { content: "Combustion"; }
a[href$="Knockback_Support#support-gem-red"]:hover:before { content: "Knockback"; }
a[href$="Minefield_Support#support-gem-blue"]:hover:before { content: "Minefield"; }
a[href$="Mirage_Archer_Support#support-gem-green"]:hover:before { content: "Mirage Archer"; }
a[href$="Spell_Echo_Support#support-gem-blue"]:hover:before { content: "Spell Echo"; }
a[href$="Culling_Strike_Support#support-gem-green"]:hover:before { content: "Culling Strike"; }
a[href$="Lesser_Multiple_Projectiles_Support#support-gem-green"]:hover:before { content: "Lesser Multiple Projectiles"; }
a[href$="Ranged_Attack_Totem_Support#support-gem-red"]:hover:before { content: "Ranged Attack Totem"; }
a[href$="Bloodlust_Support#support-gem-red"]:hover:before { content: "Bloodlust"; }
a[href$="Stun_Support#support-gem-red"]:hover:before { content: "Stun"; }
a[href$="Endurance_Charge_on_Melee_Stun_Support#support-gem-red"]:hover:before { content: "Endurance Charge on Melee Stun"; }
a[href$="Immolate_Support#support-gem-blue"]:hover:before { content: "Immolate"; }
a[href$="Mana_Leech_Support#support-gem-green"]:hover:before { content: "Mana Leech"; }
a[href$="Blasphemy_Support#support-gem-blue"]:hover:before { content: "Blasphemy"; }
a[href$="Arcane_Surge_Support#support-gem-blue"]:hover:before { content: "Arcane Surge"; }
a[href$="Cast_On_Critical_Strike_Support#support-gem-green"]:hover:before { content: "Cast On Critical Strike"; }
a[href$="Hypothermia_Support#support-gem-green"]:hover:before { content: "Hypothermia"; }
a[href$="Vile_Toxins_Support#support-gem-green"]:hover:before { content: "Vile Toxins"; }
a[href$="Increased_Area_of_Effect_Support#support-gem-blue"]:hover:before { content: "Increased Area of Effect"; }
a[href$="Slower_Projectiles_Support#support-gem-green"]:hover:before { content: "Slower Projectiles"; }
a[href$="Increased_Critical_Damage_Support#support-gem-blue"]:hover:before { content: "Increased Critical Damage"; }
a[href$="Less_Duration_Support#support-gem-red"]:hover:before { content: "Less Duration"; }
a[href$="Faster_Projectiles_Support#support-gem-green"]:hover:before { content: "Faster Projectiles"; }
a[href$="Onslaught_Support#support-gem-green"]:hover:before { content: "Onslaught"; }
a[href$="Blind_Support#support-gem-green"]:hover:before { content: "Blind"; }
a[href$="Cold_to_Fire_Support#support-gem-red"]:hover:before { content: "Cold to Fire"; }
a[href$="Trap_Support#support-gem-green"]:hover:before { content: "Trap"; }
a[href$="Cast_when_Stunned_Support#support-gem-blue"]:hover:before { content: "Cast when Stunned"; }
a[href$="Unbound_Ailments_Support#support-gem-blue"]:hover:before { content: "Unbound Ailments"; }
a[href$="Elemental_Focus_Support#support-gem-blue"]:hover:before { content: "Elemental Focus"; }
a[href$="Lightning_Penetration_Support#support-gem-blue"]:hover:before { content: "Lightning Penetration"; }
a[href$="Swift_Affliction_Support#support-gem-green"]:hover:before { content: "Swift Affliction"; }
a[href$="Multiple_Totems_Support#support-gem-red"]:hover:before { content: "Multiple Totems"; }
a[href$="Unleash_Support#support-gem-blue"]:hover:before { content: "Unleash"; }
a[href$="Cluster_Traps_Support#support-gem-green"]:hover:before { content: "Cluster Traps"; }
a[href$="Ignite_Proliferation_Support#support-gem-blue"]:hover:before { content: "Ignite Proliferation"; }
a[href$="Deadly_Ailments_Support#support-gem-green"]:hover:before { content: "Deadly Ailments"; }
a[href$="Increased_Critical_Strikes_Support#support-gem-blue"]:hover:before { content: "Increased Critical Strikes"; }
a[href$="Iron_Will_Support#support-gem-red"]:hover:before { content: "Iron Will"; }
a[href$="Poison_Support#support-gem-green"]:hover:before { content: "Poison"; }
a[href$="Greater_Multiple_Projectiles_Support#support-gem-green"]:hover:before { content: "Greater Multiple Projectiles"; }
a[href$="Minion_Speed_Support#support-gem-blue"]:hover:before { content: "Minion Speed"; }
a[href$="Added_Chaos_Damage_Support#support-gem-blue"]:hover:before { content: "Added Chaos Damage"; }
a[href$="Multiple_Traps_Support#support-gem-green"]:hover:before { content: "Multiple Traps"; }
a[href$="Controlled_Destruction_Support#support-gem-blue"]:hover:before { content: "Controlled Destruction"; }
a[href$="Infused_Channelling_Support#support-gem-blue"]:hover:before { content: "Infused Channelling"; }
a[href$="Remote_Mine_Support#support-gem-blue"]:hover:before { content: "Remote Mine"; }
a[href$="Multistrike_Support#support-gem-red"]:hover:before { content: "Multistrike"; }
a[href$="Advanced_Traps_Support#support-gem-green"]:hover:before { content: "Advanced Traps"; }
a[href$="Damage_on_Full_Life_Support#support-gem-red"]:hover:before { content: "Damage on Full Life"; }
a[href$="Block_Chance_Reduction_Support#support-gem-green"]:hover:before { content: "Block Chance Reduction"; }
a[href$="Fork_Support#support-gem-green"]:hover:before { content: "Fork"; }
a[href$="Additional_Accuracy_Support#support-gem-green"]:hover:before { content: "Additional Accuracy"; }
a[href$="Withering_Touch_Support#support-gem-green"]:hover:before { content: "Withering Touch"; }